<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.coffeejava.user.mypage.UserMyPageMapper">
    <!-- 유저 비밀번호 조회 -->
    <select id="selUserPassword">
        SELECT user_id AS userId, `password`
          FROM user
         WHERE user_id = #{userId}
    </select>

    <!-- 유저 비밀번호 변경 -->
    <update id="updPassword">
        UPDATE user
           SET `password` = #{newPassword}
         WHERE user_id = #{userId}
    </update>

    <!-- 유저 닉네임 조회 -->
    <select id="selUserNickname">
        SELECT user_id AS userId, nickname
          FROM user
         WHERE user_id = #{userId}
    </select>

    <!-- 유저 닉네임 변경 -->
    <update id="updNickname">
        UPDATE user
           SET nickname = #{newNickname}
         WHERE user_id = #{userId}
    </update>

    <!-- 유저 닉네임 존재 유무 -->
    <select id="isNicknameExist">
        SELECT COUNT(*)
          FROM user
         WHERE nickname = #{nickname}
    </select>

    <!-- 유저 마이 페이지 댓글 조회 -->
    <select id="selUserMyComment" resultType="com.cafe.coffeejava.user.mypage.model.UserGetMyCommentRes">
        SELECT A.title, B.feed_comment AS feedComment, B.created_at AS createdAt
          FROM feed A
         INNER JOIN `comment` B
            ON A.feed_id = B.feed_id
         WHERE B.user_id = #{userId}
    </select>

    <!-- 유저 마이 페이지 좋아요 리스트 조회 -->
    <select id="selUserMyLikesList" resultType="com.cafe.coffeejava.user.mypage.model.UserGetMyLikesRes">
        SELECT C.feed_id AS feedId
             , C.title, C.view_count AS viewCount
             , C.created_at AS createdAt
             , (SELECT COUNT(*)
                  FROM likes A
                 WHERE A.feed_id = C.feed_id) AS likeCount
          FROM likes B
         INNER JOIN feed C
            ON B.feed_id = C.feed_id
         WHERE B.user_id = 12
    </select>

    <!-- 새로운 프로필 이미지 등록 -->
    <update id="updUserPic">
        UPDATE user
        SET user_pic = #{picName}
        WHERE user_id = #{userId}
    </update>

    <!-- 유저가 작성한 게시글 리스트 조회-->
    <select id="selUserMyFeedList">
        SELECT A.feed_id AS feedId, A.title,
               A.created_at AS createdAt,
               COUNT(B.feed_id) AS feedLike, A.view_count AS viewCount
        FROM feed A
        LEFT JOIN likes B
        ON A.feed_id = B.feed_id
        INNER JOIN `user` C
        ON A.user_id = C.user_id
        WHERE C.user_id = #{userId}
        GROUP BY A.feed_id, A.title, A.created_at, A.view_count
    </select>
</mapper>