<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.coffeejava.feed.FeedMapper">

    <insert id="insFeed" useGeneratedKeys="true" keyProperty="feedId">
        INSERT INTO feed
        SET user_id = #{userId},
        district_id = #{districtId},
        title = #{title},
        cafe_name = #{cafeName},
        content = #{content}
    </insert>

    <update id = "updViewCount">
        UPDATE feed
        SET view_count = view_count + 1
        WHERE feed_id = #{feedId}
    </update>
    
    <select id="getFeedList">
        SELECT A.feed_id AS feedId, A.title, B.nickname, DATE(A.created_at) AS createdAt,
            A.view_count AS viewCount, COUNT(C.feed_id) AS feedLike
        FROM feed A
        INNER JOIN `user` B
        ON A.user_id = B.user_id
        LEFT JOIN likes C
        ON A.feed_id = C.feed_id
        WHERE NOT EXISTS (
        SELECT 1
        FROM report D
        WHERE D.action_status = 1
        AND D.feed_id = A.feed_id
        )
        GROUP BY A.feed_id, title, nickname, DATE(A.created_at), view_count
        ORDER BY A.feed_id DESC
        LIMIT #{startIdx}, #{size}
    </select>

    <select id="getFeedListByDistrict">
        SELECT A.feed_id AS feedId, A.title, B.nickname, DATE(A.created_at) AS createdAt,
        A.view_count AS viewCount, COUNT(C.feed_id) AS feedLike
        FROM feed A
        INNER JOIN `user` B
        ON A.user_id = B.user_id
        LEFT JOIN likes C
        ON A.feed_id = C.feed_id
        WHERE A.district_id = #{districtId}
        AND NOT EXISTS (
        SELECT 1
        FROM report D
        WHERE D.action_status = 1
        AND D.feed_id = A.feed_id
        )
        GROUP BY A.feed_id, title, nickname, DATE(A.created_at), view_count
        LIMIT #{startIdx}, #{size}
    </select>

    <!-- <select id="findUserIdByFeed">
        SELECT user_id
        FROM feed
        WHERE feed_id = #{feedId}
    </select> -->
    
    <resultMap id="feedDetailMap" type="com.cafe.coffeejava.feed.model.FeedGetDetailDto">
        <id property="feedId" column="feedId"/>
        <result property="title" column="title"/>
        <result property="nickname" column="nickname"/>
        <result property="cafeName" column="cafeName"/>
        <result property="createdAt" column="createdAt"/>
        <result property="content" column="content"/>
        <result property="viewCount" column="viewCount"/>
        <result property="feedLike" column="feedLike"/>
        
        <collection property="pics" ofType="string">
            <result column="pics"/>
        </collection>
    </resultMap>

    <select id="getFeedDetailList" resultMap="feedDetailMap">
        SELECT A.feed_id AS feedId, A.title, B.nickname, A.cafe_name AS cafeName,
        A.content, A.created_at AS createdAt, A.view_count AS viewCount,
        IFNULL(C.like_count, 0) AS feedLike, D.feed_pic AS pics
        FROM feed A
        INNER JOIN user B ON A.user_id = B.user_id
        LEFT JOIN (
        SELECT feed_id, COUNT(*) AS like_count
        FROM likes
        GROUP BY feed_id
        ) C
        ON A.feed_id = C.feed_id
        LEFT JOIN feed_pic D
        ON A.feed_id = D.feed_id
        WHERE A.feed_id = #{feedId}
    </select>

    <update id="updFeed">
        UPDATE feed
        <set>
            <if test="districtId != null and districtId != '' ">
                district_id = #{districtId},
            </if>
            <if test="title != null and title != '' ">
                title = #{title},
            </if>
            <if test="cafeName != null and cafeName != '' ">
                cafe_name = #{cafeName},
            </if>
            <if test="content != null and content != '' ">
                content = #{content}
            </if>
        </set>
        WHERE feed_id = #{feedId}
    </update>

    <select id="findUserIdByFeed">
        SELECT user_id
        FROM feed
        WHERE feed_id = #{feedId}
    </select>

    <delete id="delFeed">
        DELETE FROM feed
        WHERE feed_id = #{feedId}
    </delete>

    <!-- 인기 게시글 조회 -->
    <select id="getPopularFeed">
    SELECT A.feed_id AS feedId, A.cafe_name AS cafeName, C.district_name AS districtName,
    A.title, B.nickname, A.created_at AS createdAt, COUNT(D.feed_id) AS feedLike
    FROM feed A
    INNER JOIN `user` B
    ON A.user_id = B.user_id
    INNER JOIN district C
    ON A.district_id = C.district_id
    INNER JOIN likes D
    ON D.feed_id = A.feed_id
    WHERE NOT EXISTS (
    SELECT 1
    FROM report E
    WHERE E.action_status = 1
    AND E.feed_id = A.feed_id
    )
    GROUP BY A.feed_id
    ORDER BY feedLike DESC, A.feed_id
    LIMIT 5;
    </select>
</mapper>