<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.coffeejava.feed.FeedPicMapper">
    <insert id = "insFeedPic">
        INSERT INTO feed_pic
        (feed_id, feed_pic)
        VALUES
        <foreach collection="pics" item="pic" open="(" close=")" separator="),(">
            #{feedId}, #{pic}
        </foreach>
    </insert>

    <select id="findFeedIdsByFeedPicIds">
        SELECT DISTINCT feed_id
        FROM feed_pic
        WHERE feed_pic_id IN
        <foreach collection="feedPicIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="findPicNamesByFeedPicIds">
        SELECT feed_pic
        FROM feed_pic
        WHERE feed_pic_id IN
        <foreach collection="feedPicIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <delete id="delFeedPics">
        DELETE FROM feed_pic
        WHERE feed_pic_id IN
        <foreach collection="feedPicIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>