<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.coffeejava.report.ReportMapper">
    <!-- 신고 등록 -->
    <insert id="insReport">
        INSERT INTO report
        SET report_type_id = #{req.reportTypeId}
        , reporter_id = #{reporterId}
        <choose>
            <when test="req.feedId != null">
                , feed_id = #{req.feedId}
            </when>
            <when test="req.commentId != null">
                , comment_id = #{req.commentId}
            </when>
        </choose>
    </insert>

    <!-- 게시글 유무 확인 -->
    <select id="selFeedByFeedId">
        SELECT EXISTS (
            SELECT *
              FROM feed
             WHERE feed_id = #{feedId}
        )
    </select>

    <!-- 댓글 유무 확인 -->
    <select id="selCommentByCommentId">
        SELECT EXISTS (
            SELECT *
              FROM `comment`
             WHERE comment_id = #{commentId}
        )
    </select>

    <!-- 게시글 중복 신고 검증 -->
    <select id="selDistrictReportByFeedId">
        SELECT EXISTS (
            SELECT *
              FROM report
             WHERE reporter_id = #{userId}
               AND feed_id = #{feedId}
        )
    </select>

    <!-- 댓글 중복 신고 검증 -->
    <select id="selDistrictReportByCommentId">
        SELECT EXISTS (
            SELECT *
              FROM report
             WHERE reporter_id = #{userId}
               AND comment_id = #{commentId}
        )
    </select>

    <!-- 신고 유형 불러오기 -->
    <select id="selReportType">
        SELECT report_type_id AS reportTypeId, report_type_name AS reportTypeName
          FROM report_type
    </select>

    <!-- 신고 게시글 목록 조회 -->
    <select id="selReportFeedList">
        SELECT report_id AS reportId, report_type_id AS reportTypeId
             , reporter_id AS reporterId, feed_id AS feedId
             , report_status AS reportStatus, action_status AS actionStatus
             , created_at AS createdAt
          FROM report
         WHERE feed_id IS NOT NULL
           AND report_status = 0
         ORDER BY created_at
    </select>

    <!-- 신고 댓글 목록 조회 -->
    <select id="selReportCommentList">
        SELECT report_id AS reportId, report_type_id AS reportTypeId
        , reporter_id AS reporterId, comment_id AS commentId
        , report_status AS reportStatus, action_status AS actionStatus
        , created_at AS createdAt
        FROM report
        WHERE comment_id IS NOT NULL
          AND report_status = 0
        ORDER BY created_at
    </select>

    <!-- 신고 읽음 처리 -->
    <update id="updReportRead">
        UPDATE report
           SET report_status = 2
         WHERE report_status = 0
           AND report_id = #{reportId}
    </update>

    <!-- 신고 제재 있음 -->
    <update id="updReportWithAllAction">
        UPDATE report
           SET report_status = 3
             , action_status = 1
             , action_reason = #{actionReason}
         WHERE report_status IN (0, 2)
           AND (
                (feed_id IS NOT NULL AND feed_id = (
                    SELECT feed_id FROM report WHERE report_id = #{reportId}
                ))
            OR (comment_id IS NOT NULL AND comment_id = (
                    SELECT comment_id FROM report WHERE report_id = #{reportId}
                ))
        )
    </update>

    <!-- 신고 제재 없음 -->
    <update id="updReportWithoutAction">
        UPDATE report
           SET report_status = 3
         WHERE report_status = 2
           AND report_id = #{reportId}
    </update>

    <!-- 신고 취소 -->
    <update id="updReportCancel">
        UPDATE report
           SET report_status = 1
         WHERE report_status = 0
           AND report_id = #{reportId}
           AND reporter_id = #{reporterId}
    </update>
</mapper>