<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.coffeejava.dashboard.DashBoardMapper">

    <!-- 지역별 카페 게시글 리스트 조회 -->
    <select id="getDistrictCount">
        SELECT A.district_name AS districtName, COUNT(B.feed_id) AS countFeedByDistrict
        FROM district A
        LEFT JOIN feed B
        ON A.district_id = B.district_id
        WHERE B.created_at &gt;= #{startDate}
          AND B.created_at &lt;  #{endDate}
        GROUP BY A.district_name
        ORDER BY A.district_id
    </select>

    <select id="getReportFeedCount">
        SELECT
        A.report_type_id   AS reportTypeId,
        A.report_type_name AS reportTypeName,
        COUNT(B.report_id) AS reportCount
        FROM report_type A
        LEFT JOIN report B
        ON A.report_type_id = B.report_type_id
        AND B.feed_id IS NOT NULL
        WHERE B.created_at &gt;= #{startDate}
          AND B.created_at &lt;  #{endDate}
        GROUP BY A.report_type_id, A.report_type_name
        ORDER BY A.report_type_id
    </select>

    <select id="getReportCommentCount">
        SELECT
        A.report_type_id   AS reportTypeId,
        A.report_type_name AS reportTypeName,
        COUNT(B.report_id) AS reportCount
        FROM report_type A
        LEFT JOIN report B
        ON A.report_type_id = B.report_type_id
        AND B.comment_id IS NOT NULL
        WHERE B.created_at &gt;= #{startDate}
          AND B.created_at &lt;  #{endDate}
        GROUP BY A.report_type_id, A.report_type_name
        ORDER BY A.report_type_id
    </select>

<!--    &lt;!&ndash; 신고 처리 완료된 유저 리스트&ndash;&gt;-->
<!--    <select id="getReportUserList">-->
<!--        SELECT E.user_id AS userId, E.nickname, E.email-->
<!--        CASE WHEN A.feed_id IS NOT NULL THEN 'Feed'-->
<!--        ELSE 'Comment'-->
<!--        END AS targetType,-->
<!--        COALESCE(A.feed_id, A.comment_id) AS targetId, A.report_id AS reportId,-->
<!--        B.report_type_name AS reportTypeName, A.action_reason AS actionReason,-->
<!--        COUNT(*) OVER (PARTITION BY E.user_id) AS reportCount-->
<!--        FROM report A-->
<!--        INNER JOIN report_type B-->
<!--        ON A.report_type_id = B.report_type_id-->
<!--        LEFT JOIN feed C-->
<!--        ON A.feed_id = C.feed_id-->
<!--        LEFT JOIN `comment` D-->
<!--        ON A.comment_id = D.comment_id-->
<!--        INNER JOIN `user` E-->
<!--        ON E.user_id = COALESCE(C.user_id, D.user_id)-->
<!--        WHERE A.report_status = 3-->
<!--        ORDER BY reportCount DESC, reportId DESC;-->
<!--    </select>-->

    <!-- 게시글 작성이 많은 유저 리스트 조회-->
    <select id="getTopUser">
        SELECT A.user_id AS userId, A.email, A.nickname,
               COUNT(B.feed_id) AS feedCount
        FROM `user` A
        INNER JOIN feed B
        ON A.user_id = B.user_id
        WHERE B.created_at &gt;= #{startDate}
          AND B.created_at &lt;  #{endDate}
        AND NOT EXISTS (
        SELECT 1
        FROM report C
        WHERE C.reporter_id = A.user_id
        AND C.action_status != 0
        )
        GROUP BY B.user_id, A.email, A.nickname
        ORDER BY feedCount DESC
        LIMIT 5
    </select>

    <select id="getFeedCount">
        SELECT YEAR(created_at) AS year,
        MONTH(created_at) AS month,
        COUNT(*) AS feedCount
        FROM feed
        GROUP BY YEAR(created_at), MONTH(created_at)
        ORDER BY year, month
    </select>

    <select id="getTopReportUsers">
        SELECT u.user_id AS userId, u.email, u.nickname, COUNT(*) AS reportCount
        FROM (
        SELECT B.user_id
        FROM report A
        INNER JOIN feed B
        ON A.feed_id = B.feed_id
        WHERE A.report_status = 0

        UNION ALL

        SELECT C.user_id
        FROM report A
        INNER JOIN `comment` C
        ON A.comment_id = C.comment_id
        WHERE A.report_status = 0
        ) r
        INNER JOIN `user` u
        ON r.user_id = u.user_id
        GROUP BY u.user_id, u.email, u.nickname
        HAVING COUNT(*) >= 5
        ORDER BY reportCount DESC, u.user_id
        LIMIT 5
    </select>
</mapper>